$black: #000000;
//$blue: #80c6e3;
$white: #ffffff;
$orange: #efaf34;
$grey: #2c2c2c;
$gradientOrange: linear-gradient( 90deg, #eeaa33 0%, #f1b836 100%);
$brown: #9a6f24;
$hover: linear-gradient( 90deg, #e09b02 0%, #e09b02 100%)
